[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
langchain-community = "*"
sqlmodel = "*"
pydantic-settings = "*"
psycopg2 = "*"
fastapi = {extras = ["all"], version = "*"}
langchain-postgres = "*"

[dev-packages]
psycopg2-binary = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}

[requires]
python_version = "3.9"
