<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App log</title>
  </head>
  <body>
    <h1>App log</h1>
    <pre id="log"></pre>

    <script>
      async function fetchLogs() {
        try {
          const response = await fetch("/logs");
          if (response.ok) {
            const text = await response.text();
            document.getElementById("log").textContent = text;
          } else {
            console.error("Failed to fetch logs");
          }
        } catch (error) {
          console.error("Error fetching logs:", error);
        }
      }

      // 每0.5秒获取一次日志
      setInterval(fetchLogs,1000);
    </script>
  </body>
</html>
